<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <h2>글 목록</h2>
        <tr>
            <th>글 번호</th>
            <th>글 제목</th>
            <th>글 작성자</th>
            <th>글 작성일자</th>
            <th>글 내용</th>
            <th>조회수</th>
            <th>상세조회</th>
        </tr>
        <tr th:each="board: ${boardList}">
            <td th:text="${board.id}"></td>
            <td th:text="${board.boardTitle}"></td>
            <td th:text="${board.boardWriter}"></td>
            <td th:text="*{#temporals.format(board.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${board.boardContents}"></td>
            <td th:text="${board.boardHits}"></td>
            <td>
                <a th:href="@{|/board/${board.id}|}">상세조회</a>
            </td>
        </tr>
    </table>
</body>
</html>