<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/board/update" method="post">
    <input type="hidden" name="id" th:value="${board.id}">
    제목 : <input type="text" name="boardTitle" th:value="${board.boardTitle}"> <br>
    작성자 : <input type="text" name="boardWriter" th:value="${board.boardWriter}" readonly> <br>
    비밀번호 : <input type="text" name="boardPassword" th:value="${board.boardPassword}" readonly > <br>
    내용 : <input type="text" name="boardContents" placeholder="내용"> <br>
    <input type="submit" value="수정하기">
</form>
</body>
</html>